/* ChatWindow.scss */


.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100vh; // Full height of the viewport
    background-color: whitesmoke;
    justify-content: center; // Center the content vertically
    align-items: center; // Center the content horizontally
}