// FooterMessage.scss

.footerMessage {
    width: 100%; // Ensures it spans the full width
    padding: 10px 20px; // Add padding for better readability
    background-color: (245, 245, 245); // Background color
    text-align: center; // Center the text
    font-size: 14px; // Set the font size
    color: #333; // Set the text color
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .footerMessage {
      margin-bottom: 50px;
    }
  }

@media (min-width: 600px) and (max-width: 1200px) {
    .footerMessage {
      margin-bottom: 15px;
    }
  }